/* 헤더 */
.top-header {
  display: flex;
  align-items: center;
  background-color: bisque;
  height: 65px;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(221, 221, 221);
}
.top-header-left {
  flex-basis: 100%;
}
.top-header-left > img {
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 1rem;
}
.top-header-center {
  flex-basis: 100%;
  font-weight: 600;
  font-size: 1.3rem;
  text-wrap: nowrap;
  text-align: center;
}
.top-header-right {
  flex-basis: 100%;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-wrap: nowrap;
  text-align: right;
}

/* 검색 필터 */
#filter {
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem 8rem;
}
.filter-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.filter-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: .5rem .3rem
}
.filter-item {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  font-weight: 500;
}
.filter-item > label {
  padding-left: 0.2rem;
  flex-basis: 5rem;
  font-size: 0.9rem;
}
.filter-item > input,
.filter-item > select {
  border-radius: 8px;
  flex-grow: 1;
  border: 0.5px solid rgb(221, 221, 221);
  padding: 0.4rem 0.6rem;
}
.filter-btn {
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(241, 255, 203);
  padding: 0.6rem 0;
  cursor: pointer;
  border: 0.5px solid rgb(223, 223, 223);
}
.filter-item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
}
.filter-item:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
}
.filter-item:nth-child(3) {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
.filter-item:nth-child(4) {
  grid-row: 3 / 4;
  grid-column: 3 / 5;
}
.filter-item:nth-child(5) {
  grid-row: 3 / 4;
  grid-column: 5 / 7;
}
.filter-item:nth-child(6) {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}
.filter-item:nth-child(7) {
  grid-row: 4 / 5;
  grid-column: 4 / 7;
}
.filter-item:nth-child(8) {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}
.filter-item:nth-child(9) {
  grid-row: 5 / 6;
  grid-column: 4 / 7;
}

/* 필터 결과표 */
#result {
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem 8rem;
  position: relative;
}
.result-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.result-table {
  text-align: left;
  width: 100%;
}
.result-table tr > td,
.result-table tr > th {
  padding: 10px 0px;
}
thead {
  background-color: rgb(253, 255, 225);
}

thead > tr {
  border-radius: 0.2rem;
  border: 0.5px solid rgb(221, 221, 221);
}
thead th {
  font-weight: 500;
  font-size: 1rem;
}
#result-tbody > tr {
  border-bottom: 1px solid rgba(221, 221, 221, 0.4);
}

#result-tbody a {
  text-decoration: none;
  color: rgb(215, 164, 63);
}

.result-btn-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.result-btn {
  border-radius: 8px;
  background-color: rgb(241, 255, 203);
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border: 0.5px solid rgb(223, 223, 223);
  text-wrap: nowrap;
  font-weight: 500;
}

/* 모달 */
main {
  position: relative;
}
#modal {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.modal-frame {
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 40%;
  padding: 1rem;
}
.modal-title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.modal-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: .5rem 1rem;
}
.modal-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: nowrap;
  font-weight: 500;
}
.modal-item > label {
  padding: 0 0 0.5rem 0.2rem;
  font-size: 0.9rem;
}
.modal-item > input,
.modal-item > select {
  border-radius: 8px;
  flex-grow: 1;
  border: 0.5px solid rgb(221, 221, 221);
  padding: 0.4rem 0.6rem;
}
.modal-add { 
  display: flex;
}
#modal-close-btn {
  display: flex;
  padding: 0.3rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
#modal-close-btn > img {
  width: 1rem;
  height: 1rem;
}
#modal-add-btn {
  border-radius: 8px;
  background-color: rgb(241, 255, 203);
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border: 0.5px solid rgb(223, 223, 223);
  text-wrap: nowrap;
  font-weight: 500;
  margin: 1rem 0.3rem 0 auto;
}
.modal-item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.modal-item:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.modal-item:nth-child(3) {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
.modal-item:nth-child(4) {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}
.modal-item:nth-child(5) {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}
.modal-item:nth-child(6) {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
.modal-item:nth-child(7) {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}
