table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(242, 242, 242);
}

button {
  background-color: rgb(255, 255, 255);
  border-width: 0.5px;
}

@media screen and (min-width: 0px) {
  .filter-item:nth-child(3) {
    grid-row: 3;
    grid-column: 1 / -1;
  }
  .filter-item:nth-child(4) {
    grid-row: 4;
    grid-column: 1 / 4;
  }
  .filter-item:nth-child(5) {
    grid-row: 4;
    grid-column: 4 / 7;
  }
  .filter-item:nth-child(6) {
    grid-row: 5;
    grid-column: 1 / 4;
  }
  .filter-item:nth-child(7) {
    grid-row: 5;
    grid-column: 4 / 7;
  }
  .filter-item:nth-child(8) {
    grid-row: 6;
    grid-column: 1 / 4;
  }
  .filter-item:nth-child(9) {
    grid-row: 6;
    grid-column: 4 / 7;
  }
}

@media screen and (min-width: 1176px) {
  .filter-item:nth-child(3) {
    grid-row: 3;
    grid-column: 1 / 3;
  }
  .filter-item:nth-child(4) {
    grid-row: 3;
    grid-column: 3 / 5;
  }
  .filter-item:nth-child(5) {
    grid-row: 3;
    grid-column: 5 / 7;
  }
  .filter-item:nth-child(6) {
    grid-row: 4;
    grid-column: 1 / 4;
  }
  .filter-item:nth-child(7) {
    grid-row: 4;
    grid-column: 4 / 7;
  }
  .filter-item:nth-child(8) {
    grid-row: 5;
    grid-column: 1 / 4;
  }
  .filter-item:nth-child(9) {
    grid-row: 5;
    grid-column: 4 / 7;
  }
}
